*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.fundo{
    background-color: rgba(44, 44, 223, 0.678);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.container_capibara{
    width: 35%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table_score{
    justify-content: center;
    display: flex;
}

.score{
    margin-top: 2%;
}

.capibara{
    display: flex;
    margin-top: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.capibaraIMG{
    display: flex;
    width: 60%;
    height: 60%;
    cursor: grab;
}

.container_capibarinhas{
    width: 40%;
    height: 100%;
    background-color: rgb(150, 40, 40);
    
}

.capibarinhas{
    margin-top: 0%;
    display: block;
    width: 100%;
    height: 100%;
}

.capibarinhas_minion{
    margin-top: 1%;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    height: 10.3%;
}


.container_powers{
    display: flex;
    width: 25%;
    height: 100%;
    background-color: green;
    flex-wrap: wrap;
}

.powers{
    width: 100%;
    height: 20%;
    background-color: aqua;
    display: block;
    padding-bottom: 1%;
}

.buttonP{
    margin-top: 2%;
    margin-left: 6%;
    width: 25%;
    height: 25%;
}

.upgrade_powers{
    margin-top: 0%;
    display: block;
    width: 100%;
    height: 100%;
}

.buttonUpgrade{
    margin-top: 1.2%;
    justify-content: space-around;
    width: 100%;
    height: 8%;
}

@media (max-width: 1150px)
{
    .capibara{
        margin-top: 40%
    }
}

@media (max-width: 1000px)
{
    .capibara{
        margin-top: 50%
    }
}