@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.fundo{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.container_capybara{
    background: url("../assets/images/BackgroundMain.png") no-repeat left top;
    width: 34%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table_score{
    display: block;
    width: 100%;
    height: 15%;
    padding-left: 10%;
    color: white;
    font-family: 'Play', sans-serif;
}

.score{
    font-size: calc(1em + 1.5vw);
}

.pontos{
    position:absolute;
    max-width: 13%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button{
    border-color: white;
}

.ps{
    font-size: calc(1em + 0.5vh);
}

.capybara{
    display: flex;
    margin-top: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: url(../assets/images/BackgroundEarth.png) no-repeat center;
    background-size: contain;
}

@keyframes levitate {
    0% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translatey(-100px);
    }
}

.capybaraIMG{
    display: flex;
    width: 60%;
    height: 60%;
    cursor: grab;
    cursor: pointer;
    animation: 3s ease-in-out infinite levitate;
}

.capybaraIMG::selection{
    opacity: 0;
}

.capybara-particle{
    width: calc(1rem + 3vh);
    position: absolute;
    top: -30px;
    left: -30px;
    pointer-events: none;
    animation: capybara-up 3s linear forwards;
}

.container_background_main{
    display: flex;
    width: 80%;
    height: 100%;
    background: rgb(12, 2, 23);
}

.container_capibarinhas{
    width: 80%;
    height: 100%;
}

.capibarinhas{
    display: block;
    width: 98%;
    height: 100%;
    margin-left: 1%;
}

.capibarinhas_minion{
    margin-top: 2.3%;
    width: 100%;
    height: 10.3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

foto{
    display: flex;
    width: 18%;
}

.minions{
    width: 100%;
}

.container_upgrades_buttons{
    display: flex;
    width: 55%;
    height: 100%;
    flex-wrap: wrap;
}

.upgrades{
    width: 100%;
    height: 20%;
    border: 3px solid white;
    background-color: black;
}

.btnUpgrade{
    margin-top: 2%;
    margin-left: 6%;
    width: 25%;
    height: 25%;
    cursor: pointer;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btnIndisponivel{
    margin-top: 2%;
    margin-left: 6%;
    width: 25%;
    height: 20%;
    pointer-events: none;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(89.8deg, rgb(195, 67, 129) 11%, rgb(90, 43, 186) 83.4%);
    font: bold;
}

.score_incrementation_buttons{
    margin-top: 0%;
    display: block;
    width: 100%;
    height: 100%;
}

.btnScoreIncrementation{
    margin-top: 5%;
    justify-content: space-around;
    width: 100%;
    height: 7%;
    border-radius: 50px;
    background: purple;
    filter: blur(15px);
    pointer-events: none;
}

.btnScoreIncrementationOn{
    margin-top: 5%;
    justify-content: space-around;
    font-size: calc(1em + 1vw);
    letter-spacing: 2px;
    width: 100%;
    height: 7%;
    border-radius: 40px;
    background: linear-gradient(89.8deg, rgb(195, 67, 129) 11%, rgb(90, 43, 186) 83.4%);
    cursor: pointer;
}

@media (max-width: 1150px){
    .capybara{
        margin-top: 40%
    }
}

@media (max-width: 1000px){
    .capybara{
        margin-top: 50%
    }
}

@media (max-width: 900px){
    .table_score{
        padding-left: 5%;
    }
    .pontos{
        max-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@keyframes capybara-up {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        top: 0;
    }
}

.btnUpgrade:disabled{
    font-size: calc(1em + 0.1vw);
    font-weight: bold;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#upgrade1:hover,
#upgrade2:hover,
#upgrade3:hover,
#upgrade4:hover,
#upgrade5:hover,
#upgrade6:hover,
#upgrade7:hover,
#upgrade8:hover,
#upgrade9:hover{
    background-color: rgb(144, 88, 255);
}

#upgrade1:disabled,
#upgrade2:disabled,
#upgrade3:disabled,
#upgrade4:disabled,
#upgrade5:disabled,
#upgrade6:disabled,
#upgrade7:disabled,
#upgrade8:disabled,
#upgrade9:disabled{
    background: linear-gradient(89.8deg, rgb(195, 67, 129) 11%, rgb(90, 43, 186) 83.4%);
    pointer-events: none;
}

#upgrade1{
    background: url("../assets/images/IconDoubleClick.png") no-repeat center;
    background-size: contain;
    background-color: rgb(90, 43, 186);
}

#upgrade2{
    background: url("../assets/images/IconGrass.png") no-repeat center;
    background-size: contain;
    background-color: rgb(90, 43, 186);
}

#upgrade3{
    background: url("../assets/images/IconDiscount.png") no-repeat center;
    background-size: contain;
    background-color: rgb(90, 43, 186);
}

#upgrade4{
    background: url("../assets/images/IconBlackCapybara.png") no-repeat center;
    background-size: contain;
    background-color: rgb(90, 43, 186);
}

#minion1{
    background: url("../assets/images/BiomeBannerSpace.png") no-repeat center;
    background-size: cover;
}

#minion2{
    background: url("../assets/images/BiomeBannerForest.png") no-repeat center;
    background-size: cover;
}

#minion3{
    background: url("../assets/images/BiomeBannerSnow.png") no-repeat center;
    background-size: cover;
}

#minion4{
    background: url("../assets/images/BiomeBannerDesert.png") no-repeat center;
    background-size: cover;
}

#minion5{
    background: url("../assets/images/BiomeBannerOasis.png") no-repeat center;
    background-size: cover;
}

#minion6{
    background: url("../assets/images/BiomeBannerGraveyard.png") no-repeat center;
    background-size: cover;
}

#minion7{
    background: url("../assets/images/BiomeBannerHallow.png") no-repeat center;
    background-size: cover;
}

#minion8{
    background: url("../assets/images/BiomeBannerCorruption.png") no-repeat center;
    background-size: cover;
}
