*{
    margin: 0;
    padding: 0;
}

.fundo{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.container_capibara{
    background: url("../assets/images/planoFundo.png") no-repeat left top;
    width: 34%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table_score{
    display: block;
    width: 100%;
    height: 15%;
    padding-left: 10%;
    color: white;
    font-family: "Audiowide", sans-serif;
}

.score{
    font-size: calc(1em + 2vw);
}

.pontos{
    position:absolute;
    max-width: 246px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ps{
    font-size: calc(1em + 1vh);
}

.capibara{
    display: flex;
    margin-top: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.capibaraIMG{
    display: flex;
    width: 60%;
    height: 60%;
    cursor: grab;
}

.capibaraIMG:active{
    -webkit-transform:scale(1.1);
    transform: scale(1.1);
}

.capibaraIMG::selection{
    opacity: 0;
}

.capybara-particle{
    width: 30px;
    position: absolute;
    top: -30px;
    left: -30px;
    pointer-events: none;
    animation: capibara-up 3s linear forwards;
}

.container_capibarinhas{
    width: 41%;
    height: 100%;
    background: url("../assets/images/BackgroundContainers.jpg") left top;
}

.capibarinhas{
    display: block;
    width: 98%;
    height: 100%;
    margin-left: 1%;
}

.capibarinhas_minion{
    margin-top: 2.3%;
    width: 100%;
    height: 10.3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

foto{
    display:flex;
    width: 9%;
}

.minions{
    width: 100%;
}

.container_powers{
    display: flex;
    width: 25%;
    height: 100%;
    flex-wrap: wrap;
    background: url("../assets/images/BackgroundContainers.jpg") left top;
}

.powers{
    width: 100%;
    height: 20%;
    background: url("../assets/images/backgroundPower.jpg") no-repeat left top;
    display: block;
    padding-bottom: 1%;
    border-radius: 15px;
}

.btnPower{
    margin-top: 2%;
    margin-left: 6%;
    width: 25%;
    height: 25%;
}

.upgrade_powers{
    margin-top: 0%;
    display: block;
    width: 100%;
    height: 100%;
}

.btnUpgrade{
    margin-top: 5%;
    justify-content: space-around;
    width: 100%;
    height: 7%;
    border-radius: 50px;
    filter: blur(20px);
}

.buttonUpgradeOn{
    margin-top: 5%;
    justify-content: space-around;
    font-size: calc(1em + 1vw);
    letter-spacing: 2px;
    width: 100%;
    height: 7%;
    border-radius: 50px;
    background: linear-gradient(red,yellow, green);
}

@media (max-width: 1150px)
{
    .capibara{
        margin-top: 40%
    }
}

@media (max-width: 1000px)
{
    .capibara{
        margin-top: 50%
    }
}

@media (max-width: 900px)
{
    .table_score{
        padding-left: 5%;
    }

    .pontos{
        max-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis ;
    }
}

@keyframes capibara-up {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
        top: 0;
    }
}

.btnPower:disabled{
    font-size: calc(1em + 0.1vw);
    font-weight: bold;
    color: white;
}

#power1{
    background: url("../assets/images/IconDoubleClick.png") no-repeat center;
    background-size: contain;
    background-color: white;
}

#power1:disabled{
    background: linear-gradient(red,yellow, green, blue, black, white, orange);
}

#power2{
    background: url("../assets/images/IconGrass.png") no-repeat center;
    background-size: contain;
    background-color: white;
}

#power2:disabled{
    background: linear-gradient(red,yellow, green, blue, black, white, orange);
}

#power8{
    background: url("../assets/images/IconDiscount.png") no-repeat center;
    background-size: contain;
    background-color: white;
}

#power8:disabled{
    background: linear-gradient(red,yellow, green, blue, black, white, orange);
}

#power9{
    background: url("../assets/images/IconBlackCapybara.png") no-repeat center;
    background-size: contain;
    background-color: white;
}

#power9:disabled{
    background: linear-gradient(red,yellow, green, blue, black, white, orange);
}

#minion1{
    background: url("../assets/images/BiomeBannerForest.png") no-repeat center;
    background-size:cover;
}

#minion2{
    background: url("../assets/images/BiomeBannerSnow.png") no-repeat center;
    background-size:cover;
}

#minion3{
    background: url("../assets/images/BiomeBannerDesert.png") no-repeat center;
    background-size:cover;
}

#minion4{
    background: url("../assets/images/BiomeBannerJungle.png") no-repeat center;
    background-size:cover;
}

#minion5{
    background: url("../assets/images/BiomeBannerOasis.png") no-repeat center;
    background-size:cover;
}

#minion6{
    background: url("../assets/images/BiomeBannerGraveyard.png") no-repeat center;
    background-size:cover;
}

#minion7{
    background: url("../assets/images/BiomeBannerHallow.png") no-repeat center;
    background-size:cover;
}

#minion8{
    background: url("../assets/images/BiomeBannerCorruption.png") no-repeat center;
    background-size:cover;
}
